footer {
  background-color: var(--color-red);
  color: white;
  padding: 5% 16px;
}

.notices {
  font-family: Outfit;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
