* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

:root {
  --color-brown-night: #1a1208;
  --color-orange: #e8833a;
  --color-linen: #f2e8d5;
  --color-red: #c0392b;
}

body {
  color: var(--color-brown-night);
  background-color: var(--color-linen);
  font-family: Fraunces;
}

.dark {
  background-color: var(--color-brown-night);
  color: var(--color-linen);

  span {
    color: var(--color-orange);
  }
}

span {
  color: var(--color-red);
}
